ws/client/10032000001/10032000001.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://esb.dcitsbiz.com/services/10032000001/wsdl" xmlns:d="http://esb.dcitsbiz.com/services/10032000001/metadata" xmlns:s="http://esb.dcitsbiz.com/services/10032000001" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapnc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://esb.dcitsbiz.com/services/10032000001/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/">
  <wsdl:types>
        <xsd:schema targetNamespace="http://esb.dcitsbiz.com/services/10032000001/wsdl" elementFormDefault="qualified" attributeFormDefault="qualified">
            <xsd:import namespace="http://esb.dcitsbiz.com/services/10032000001" schemaLocation="10032000001.xsd"/>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Req1003200000107">
    <wsdl:part name="Req1003200000107" element="s:Req1003200000107">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Req1003200000108">
    <wsdl:part name="Req1003200000108" element="s:Req1003200000108">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Req1003200000105">
    <wsdl:part name="Req1003200000105" element="s:Req1003200000105">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Req1003200000106">
    <wsdl:part name="Req1003200000106" element="s:Req1003200000106">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Req1003200000103">
    <wsdl:part name="Req1003200000103" element="s:Req1003200000103">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Req1003200000113">
    <wsdl:part name="Req1003200000113" element="s:Req1003200000113">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Req1003200000104">
    <wsdl:part name="Req1003200000104" element="s:Req1003200000104">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Req1003200000101">
    <wsdl:part name="Req1003200000101" element="s:Req1003200000101">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Req1003200000102">
    <wsdl:part name="Req1003200000102" element="s:Req1003200000102">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Rsp1003200000108">
    <wsdl:part name="Rsp1003200000108" element="s:Rsp1003200000108">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Rsp1003200000106">
    <wsdl:part name="Rsp1003200000106" element="s:Rsp1003200000106">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Rsp1003200000107">
    <wsdl:part name="Rsp1003200000107" element="s:Rsp1003200000107">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Rsp1003200000113">
    <wsdl:part name="Rsp1003200000113" element="s:Rsp1003200000113">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Rsp1003200000104">
    <wsdl:part name="Rsp1003200000104" element="s:Rsp1003200000104">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Rsp1003200000105">
    <wsdl:part name="Rsp1003200000105" element="s:Rsp1003200000105">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Rsp1003200000102">
    <wsdl:part name="Rsp1003200000102" element="s:Rsp1003200000102">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Rsp1003200000103">
    <wsdl:part name="Rsp1003200000103" element="s:Rsp1003200000103">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Rsp1003200000101">
    <wsdl:part name="Rsp1003200000101" element="s:Rsp1003200000101">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ESBServerPortType">
    <wsdl:operation name="op01">
      <wsdl:input message="tns:Req1003200000101">
    </wsdl:input>
      <wsdl:output message="tns:Rsp1003200000101">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op02">
      <wsdl:input message="tns:Req1003200000102">
    </wsdl:input>
      <wsdl:output message="tns:Rsp1003200000102">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op03">
      <wsdl:input message="tns:Req1003200000103">
    </wsdl:input>
      <wsdl:output message="tns:Rsp1003200000103">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op04">
      <wsdl:input message="tns:Req1003200000104">
    </wsdl:input>
      <wsdl:output message="tns:Rsp1003200000104">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op05">
      <wsdl:input message="tns:Req1003200000105">
    </wsdl:input>
      <wsdl:output message="tns:Rsp1003200000105">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op06">
      <wsdl:input message="tns:Req1003200000106">
    </wsdl:input>
      <wsdl:output message="tns:Rsp1003200000106">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op07">
      <wsdl:input message="tns:Req1003200000107">
    </wsdl:input>
      <wsdl:output message="tns:Rsp1003200000107">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op08">
      <wsdl:input message="tns:Req1003200000108">
    </wsdl:input>
      <wsdl:output message="tns:Rsp1003200000108">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op13">
      <wsdl:input message="tns:Req1003200000113">
    </wsdl:input>
      <wsdl:output message="tns:Rsp1003200000113">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ESBServerSoapBinding" type="tns:ESBServerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="op01">
      <soap:operation soapAction="urn:/op01"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op02">
      <soap:operation soapAction="urn:/op02"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op03">
      <soap:operation soapAction="urn:/op03"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op04">
      <soap:operation soapAction="urn:/op04"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op05">
      <soap:operation soapAction="urn:/op05"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op06">
      <soap:operation soapAction="urn:/op06"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op07">
      <soap:operation soapAction="urn:/op07"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op08">
      <soap:operation soapAction="urn:/op08"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="op13">
      <soap:operation soapAction="urn:/op13"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="S10032000001">
    <wsdl:port name="ESBServerSoapEndpoint" binding="tns:ESBServerSoapBinding">
      <soap:address location="http://159.1.65.151:39001/EsbWebService/S10032000001"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>