ws/client/10032000001/10032000001.xsd

<?xml version="1.0" encoding="UTF-8"?>

<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema" xmlns:d="http://esb.dcitsbiz.com/metadata" xmlns:s="http://esb.dcitsbiz.com/services/10032000001" xmlns:NCBS="http://esb.dcitsbiz.com/NCBS" xmlns:EBANK="http://esb.dcitsbiz.com/EBANK" xmlns:SMSP="http://esb.dcitsbiz.com/SMSP" targetNamespace="http://esb.dcitsbiz.com/services/10032000001" elementFormDefault="qualified" attributeFormDefault="qualified">
  <x:import namespace="http://esb.dcitsbiz.com/metadata" schemaLocation="SoapHeader.xsd"/>
  <x:import namespace="http://esb.dcitsbiz.com/NCBS" schemaLocation="NCBS.xsd"/>
  <x:import namespace="http://esb.dcitsbiz.com/EBANK" schemaLocation="EBANK.xsd"/>
  <x:import namespace="http://esb.dcitsbiz.com/SMSP" schemaLocation="SMSP.xsd"/>
  <x:complexType name="ReqAppHeadType">
    <x:sequence>
      <x:element name="BrId" type="x:string" minOccurs="0"/>
      <x:element name="TlrNo" type="x:string" minOccurs="0"/>
    </x:sequence>
  </x:complexType>
  <x:complexType name="RspAppHeadType">
    <x:sequence>
      <x:element name="BrId" type="x:string" minOccurs="0"/>
      <x:element name="TlrNo" type="x:string" minOccurs="0"/>
    </x:sequence>
  </x:complexType>
  <x:element name="Req1003200000101" type="s:Req1003200000101Type"/>
  <x:complexType name="Req1003200000101Type">
    <x:sequence>
      <x:element name="ReqSysHead" type="d:ReqSysHeadType"/>
      <x:element name="ReqAppHead" type="s:ReqAppHeadType"/>
      <x:element name="ReqLocalHead" type="NCBS:ReqLocalHeadType"/>
      <x:element name="ReqAppBody" minOccurs="0">
        <x:complexType>
          <x:sequence>
            <x:element name="cardczbz" type="x:string" minOccurs="0"/>
            <x:element name="kehuzhlx" type="x:string" minOccurs="0"/>
            <x:element name="kehuzhao" type="x:string" minOccurs="0"/>
            <x:element name="kehuhaoo" type="x:string" minOccurs="0"/>
            <x:element name="kehuzwmc" type="x:string" minOccurs="0"/>
            <x:element name="zhjnzlei" type="x:string" minOccurs="0"/>
            <x:element name="zhjhaoma" type="x:string" minOccurs="0"/>
            <x:element name="dianhho1" type="x:string" minOccurs="0"/>
            <x:element name="dianhho2" type="x:string" minOccurs="0"/>
            <x:element name="dianhho3" type="x:string" minOccurs="0"/>
            <x:element name="dianhho4" type="x:string" minOccurs="0"/>
            <x:element name="dianhho5" type="x:string" minOccurs="0"/>
            <x:element name="dianhho6" type="x:string" minOccurs="0"/>
            <x:element name="jiaoyije" type="x:string" minOccurs="0"/>
            <x:element name="shifoubz" type="x:string" minOccurs="0"/>
            <x:element name="shxfsqbz" type="x:string" minOccurs="0"/>
            <x:element name="fazhiiii" type="x:string" minOccurs="0"/>
            <x:element name="zongjine" type="x:string" minOccurs="0"/>
            <x:element name="daoqiriq" type="x:string" minOccurs="0"/>
            <x:element name="dizhiiii" type="x:string" minOccurs="0"/>
            <x:element name="zhaiyodm" type="x:string" minOccurs="0"/>
            <x:element name="beizhuxx" type="x:string" minOccurs="0"/>
            <x:element name="pingzhzl" type="x:string" minOccurs="0"/>
            <x:element name="pngzphao" type="x:string" minOccurs="0"/>
            <x:element name="pngzxhao" type="x:string" minOccurs="0"/>
            <x:element name="ercdxinx" type="x:string" minOccurs="0"/>
            <x:element name="sacdxinx" type="x:string" minOccurs="0"/>
            <x:element name="tzzdtsbz" type="x:string" minOccurs="0"/>
            <x:element name="mimazlei" type="x:string" minOccurs="0"/>
            <x:element name="jiaoymma" type="x:string" minOccurs="0"/>
            <x:element name="tzqishsj" type="x:string" minOccurs="0"/>
            <x:element name="tzjiessj" type="x:string" minOccurs="0"/>
            <x:element name="zhzhriqi" type="x:string" minOccurs="0"/>
            <x:element name="dxlxztai" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Rsp1003200000101" type="s:Rsp1003200000101Type"/>
  <x:complexType name="Rsp1003200000101Type">
    <x:sequence>
      <x:element name="RspSysHead" type="d:RspSysHeadType"/>
      <x:element name="RspAppHead" type="s:RspAppHeadType"/>
      <x:element name="RspLocalHead" type="NCBS:RspLocalHeadType"/>
      <x:element minOccurs="0" name="RspAppBody">
        <x:complexType>
          <x:sequence>
            <x:element name="cardczbz" type="x:string" minOccurs="0"/>
            <x:element name="kehuzhlx" type="x:string" minOccurs="0"/>
            <x:element name="kehuzhao" type="x:string" minOccurs="0"/>
            <x:element name="kehuhaoo" type="x:string" minOccurs="0"/>
            <x:element name="kehuzwmc" type="x:string" minOccurs="0"/>
            <x:element name="zhjnzlei" type="x:string" minOccurs="0"/>
            <x:element name="zhjhaoma" type="x:string" minOccurs="0"/>
            <x:element name="dianhho1" type="x:string" minOccurs="0"/>
            <x:element name="dianhho2" type="x:string" minOccurs="0"/>
            <x:element name="dianhho3" type="x:string" minOccurs="0"/>
            <x:element name="dianhho4" type="x:string" minOccurs="0"/>
            <x:element name="dianhho5" type="x:string" minOccurs="0"/>
            <x:element name="dianhho6" type="x:string" minOccurs="0"/>
            <x:element name="jiaoyije" type="x:string" minOccurs="0"/>
            <x:element name="shifoubz" type="x:string" minOccurs="0"/>
            <x:element name="shxfsqbz" type="x:string" minOccurs="0"/>
            <x:element name="fazhiiii" type="x:string" minOccurs="0"/>
            <x:element name="zongjine" type="x:string" minOccurs="0"/>
            <x:element name="daoqiriq" type="x:string" minOccurs="0"/>
            <x:element name="dizhiiii" type="x:string" minOccurs="0"/>
            <x:element name="zhaiyodm" type="x:string" minOccurs="0"/>
            <x:element name="beizhuxx" type="x:string" minOccurs="0"/>
            <x:element name="pingzhzl" type="x:string" minOccurs="0"/>
            <x:element name="pngzphao" type="x:string" minOccurs="0"/>
            <x:element name="pngzxhao" type="x:string" minOccurs="0"/>
            <x:element name="ercdxinx" type="x:string" minOccurs="0"/>
            <x:element name="sacdxinx" type="x:string" minOccurs="0"/>
            <x:element name="tzzdtsbz" type="x:string" minOccurs="0"/>
            <x:element name="mimazlei" type="x:string" minOccurs="0"/>
            <x:element name="jiaoymma" type="x:string" minOccurs="0"/>
            <x:element name="tzqishsj" type="x:string" minOccurs="0"/>
            <x:element name="tzjiessj" type="x:string" minOccurs="0"/>
            <x:element name="zhzhriqi" type="x:string" minOccurs="0"/>
            <x:element name="dxlxztai" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Req1003200000102" type="s:Req1003200000102Type"/>
  <x:complexType name="Req1003200000102Type">
    <x:sequence>
      <x:element name="ReqSysHead" type="d:ReqSysHeadType"/>
      <x:element name="ReqAppHead" type="s:ReqAppHeadType"/>
      <x:element name="ReqLocalHead" type="EBANK:ReqLocalHeadType"/>
      <x:element name="ReqAppBody" minOccurs="0">
        <x:complexType>
          <x:sequence>
            <x:element name="clientNo" type="x:string" minOccurs="0"/>
            <x:element name="alias" type="x:string" minOccurs="0"/>
            <x:element name="mobileNo" type="x:string" minOccurs="0"/>
            <x:element name="emailAddr" type="x:string" minOccurs="0"/>
            <x:element name="isBankEmployee" type="x:string" minOccurs="0"/>
            <x:element name="isVipCust" type="x:string" minOccurs="0"/>
            <x:element name="custName" type="x:string" minOccurs="0"/>
            <x:element name="sex" type="x:string" minOccurs="0"/>
            <x:element name="address" type="x:string" minOccurs="0"/>
            <x:element name="zipCode" type="x:string" minOccurs="0"/>
            <x:element name="certType" type="x:string" minOccurs="0"/>
            <x:element name="certNo" type="x:string" minOccurs="0"/>
            <x:element name="pretentInfo" type="x:string" minOccurs="0"/>
            <x:element name="custFlag" type="x:string" minOccurs="0"/>
            <x:element name="isFlexCharge" type="x:string" minOccurs="0"/>
            <x:element name="registerDate" type="x:string" minOccurs="0"/>
            <x:element name="registerNode" type="x:string" minOccurs="0"/>
            <x:element name="registerTeller" type="x:string" minOccurs="0"/>
            <x:element name="authTeller" type="x:string" minOccurs="0"/>
            <x:element name="mobileLogon" type="x:string" minOccurs="0"/>
            <x:element name="introducerNo" type="x:string" minOccurs="0"/>
            <x:element name="introducerName" type="x:string" minOccurs="0"/>
            <x:element name="iPBCustomerOpenDataList" maxOccurs="unbounded">
              <x:complexType>
                <x:sequence>
                  <x:element name="channel" type="x:string" minOccurs="0"/>
                  <x:element name="password" type="x:string" minOccurs="0"/>
                  <x:element name="transType" type="x:string" minOccurs="0"/>
                  <x:element name="validWay" type="x:string" minOccurs="0"/>
                  <x:element name="limitDayMax" type="x:string" minOccurs="0"/>
                  <x:element name="accountNo" type="x:string" minOccurs="0"/>
                  <x:element name="accountAlias" type="x:string" minOccurs="0"/>
                  <x:element name="accountOpenNode" type="x:string" minOccurs="0"/>
                  <x:element name="accountType" type="x:string" minOccurs="0"/>
                  <x:element name="warrantType" type="x:string" minOccurs="0"/>
                  <x:element name="unionBankNo" type="x:string" minOccurs="0"/>
                  <x:element name="isMainAcc" type="x:string" minOccurs="0"/>
                  <x:element name="isAtmAcc" type="x:string" minOccurs="0"/>
                </x:sequence>
              </x:complexType>
            </x:element>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Rsp1003200000102" type="s:Rsp1003200000102Type"/>
  <x:complexType name="Rsp1003200000102Type">
    <x:sequence>
      <x:element name="RspSysHead" type="d:RspSysHeadType"/>
      <x:element name="RspAppHead" type="s:RspAppHeadType"/>
      <x:element name="RspLocalHead" type="EBANK:RspLocalHeadType"/>
      <x:element minOccurs="0" name="RspAppBody">
        <x:complexType>
          <x:sequence>
            <x:element name="clientNo" type="x:string" minOccurs="0"/>
            <x:element name="alias" type="x:string" minOccurs="0"/>
            <x:element name="phoneNo" type="x:string" minOccurs="0"/>
            <x:element name="mobileNo" type="x:string" minOccurs="0"/>
            <x:element name="emailAddr" type="x:string" minOccurs="0"/>
            <x:element name="isBankEmployee" type="x:string" minOccurs="0"/>
            <x:element name="isVipCust" type="x:string" minOccurs="0"/>
            <x:element name="custName" type="x:string" minOccurs="0"/>
            <x:element name="sex" type="x:string" minOccurs="0"/>
            <x:element name="address" type="x:string" minOccurs="0"/>
            <x:element name="zipCode" type="x:string" minOccurs="0"/>
            <x:element name="certType" type="x:string" minOccurs="0"/>
            <x:element name="certNo" type="x:string" minOccurs="0"/>
            <x:element name="custFlag" type="x:string" minOccurs="0"/>
            <x:element name="tellerCode" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Req1003200000103" type="s:Req1003200000103Type"/>
  <x:complexType name="Req1003200000103Type">
    <x:sequence>
      <x:element name="ReqSysHead" type="d:ReqSysHeadType"/>
      <x:element name="ReqAppHead" type="s:ReqAppHeadType"/>
      <x:element name="ReqLocalHead" type="EBANK:ReqLocalHeadType"/>
      <x:element name="ReqAppBody" minOccurs="0">
        <x:complexType>
          <x:sequence>
            <x:element name="clientNo" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Rsp1003200000103" type="s:Rsp1003200000103Type"/>
  <x:complexType name="Rsp1003200000103Type">
    <x:sequence>
      <x:element name="RspSysHead" type="d:RspSysHeadType"/>
      <x:element name="RspAppHead" type="s:RspAppHeadType"/>
      <x:element name="RspLocalHead" type="EBANK:RspLocalHeadType"/>
      <x:element minOccurs="0" name="RspAppBody">
        <x:complexType>
          <x:sequence>
            <x:element name="clientNo" type="x:string" minOccurs="0"/>
            <x:element name="tellerCode" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Req1003200000104" type="s:Req1003200000104Type"/>
  <x:complexType name="Req1003200000104Type">
    <x:sequence>
      <x:element name="ReqSysHead" type="d:ReqSysHeadType"/>
      <x:element name="ReqAppHead" type="s:ReqAppHeadType"/>
      <x:element name="ReqLocalHead" type="SMSP:ReqLocalHeadType"/>
      <x:element name="ReqAppBody" minOccurs="0">
        <x:complexType>
          <x:sequence>
            <x:element name="TransCode" type="x:string" minOccurs="0"/>
            <x:element name="ReqTime" type="x:string" minOccurs="0"/>
            <x:element name="ReqDate" type="x:string" minOccurs="0"/>
            <x:element name="Accno" type="x:string" minOccurs="0"/>
            <x:element name="CardNo" type="x:string" minOccurs="0"/>
            <x:element name="ZwAmt" type="x:string" minOccurs="0"/>
            <x:element name="OperatorID" type="x:string" minOccurs="0"/>
            <x:element name="Mobile" type="x:string" minOccurs="0"/>
            <x:element name="CustNo" type="x:string" minOccurs="0"/>
            <x:element name="CustName" type="x:string" minOccurs="0"/>
            <x:element name="CustClass" type="x:string" minOccurs="0"/>
            <x:element name="CustType" type="x:string" minOccurs="0"/>
            <x:element name="Alias" type="x:string" minOccurs="0"/>
            <x:element name="CertType" type="x:string" minOccurs="0"/>
            <x:element name="CertNo" type="x:string" minOccurs="0"/>
            <x:element name="Birthday" type="x:string" minOccurs="0"/>
            <x:element name="FeeSuite" type="x:string" minOccurs="0"/>
            <x:element name="IdenCode" type="x:string" minOccurs="0"/>
            <x:element name="FreeExp" type="x:string" minOccurs="0"/>
            <x:element name="IssueBank" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Rsp1003200000104" type="s:Rsp1003200000104Type"/>
  <x:complexType name="Rsp1003200000104Type">
    <x:sequence>
      <x:element name="RspSysHead" type="d:RspSysHeadType"/>
      <x:element name="RspAppHead" type="s:RspAppHeadType"/>
      <x:element name="RspLocalHead" type="SMSP:RspLocalHeadType"/>
      <x:element minOccurs="0" name="RspAppBody">
        <x:complexType>
          <x:sequence>
            <x:element name="TransCode" type="x:string" minOccurs="0"/>
            <x:element name="RespCode" type="x:string" minOccurs="0"/>
            <x:element name="ReqDate" type="x:string" minOccurs="0"/>
            <x:element name="ReqTime" type="x:string" minOccurs="0"/>
            <x:element name="Desc" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Req1003200000105" type="s:Req1003200000105Type"/>
  <x:complexType name="Req1003200000105Type">
    <x:sequence>
      <x:element name="ReqSysHead" type="d:ReqSysHeadType"/>
      <x:element name="ReqAppHead" type="s:ReqAppHeadType"/>
      <x:element name="ReqLocalHead" type="SMSP:ReqLocalHeadType"/>
      <x:element name="ReqAppBody" minOccurs="0">
        <x:complexType>
          <x:sequence>
            <x:element name="SHFOBZ" type="x:string" minOccurs="0"/>
            <x:element name="ZHANGH" type="x:string" minOccurs="0"/>
            <x:element name="KAHAOO" type="x:string" minOccurs="0"/>
            <x:element name="KEHHAO" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Rsp1003200000105" type="s:Rsp1003200000105Type"/>
  <x:complexType name="Rsp1003200000105Type">
    <x:sequence>
      <x:element name="RspSysHead" type="d:RspSysHeadType"/>
      <x:element name="RspAppHead" type="s:RspAppHeadType"/>
      <x:element name="RspLocalHead" type="SMSP:RspLocalHeadType"/>
      <x:element minOccurs="0" name="RspAppBody">
        <x:complexType>
          <x:sequence>
            <x:element name="GUIYLS" type="x:string" minOccurs="0"/>
            <x:element name="DAYXX1" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Req1003200000106" type="s:Req1003200000106Type"/>
  <x:complexType name="Req1003200000106Type">
    <x:sequence>
      <x:element name="ReqSysHead" type="d:ReqSysHeadType"/>
      <x:element name="ReqAppHead" type="s:ReqAppHeadType"/>
      <x:element name="ReqLocalHead" type="SMSP:ReqLocalHeadType"/>
      <x:element name="ReqAppBody" minOccurs="0">
        <x:complexType>
          <x:sequence>
            <x:element name="ZHANGH" type="x:string" minOccurs="0"/>
            <x:element name="KAHAOO" type="x:string" minOccurs="0"/>
            <x:element name="SHOJHM" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Rsp1003200000106" type="s:Rsp1003200000106Type"/>
  <x:complexType name="Rsp1003200000106Type">
    <x:sequence>
      <x:element name="RspSysHead" type="d:RspSysHeadType"/>
      <x:element name="RspAppHead" type="s:RspAppHeadType"/>
      <x:element name="RspLocalHead" type="SMSP:RspLocalHeadType"/>
      <x:element minOccurs="0" name="RspAppBody">
        <x:complexType>
          <x:sequence>
            <x:element name="GUIYLS" type="x:string" minOccurs="0"/>
            <x:element name="DAYXX1" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Req1003200000107" type="s:Req1003200000107Type"/>
  <x:complexType name="Req1003200000107Type">
    <x:sequence>
      <x:element name="ReqSysHead" type="d:ReqSysHeadType"/>
      <x:element name="ReqAppHead" type="s:ReqAppHeadType"/>
      <x:element name="ReqAppBody" minOccurs="0">
        <x:complexType>
          <x:sequence>
            <x:element name="CustNo" type="x:string" minOccurs="0"/>
            <x:element name="CustName" type="x:string" minOccurs="0"/>
            <x:element name="CifEname" type="x:string" minOccurs="0"/>
            <x:element name="Alias" type="x:string" minOccurs="0"/>
            <x:element name="Sex" type="x:string" minOccurs="0"/>
            <x:element name="NatCd" type="x:string" minOccurs="0"/>
            <x:element name="RaceTp" type="x:string" minOccurs="0"/>
            <x:element name="CertTp" type="x:string" minOccurs="0"/>
            <x:element name="CertNo" type="x:string" minOccurs="0"/>
            <x:element name="Birthday" type="x:string" minOccurs="0"/>
            <x:element name="MrgFlg" type="x:string" minOccurs="0"/>
            <x:element name="EduDsc" type="x:string" minOccurs="0"/>
            <x:element name="OcptnCd" type="x:string" minOccurs="0"/>
            <x:element name="PstnlTitleDsc" type="x:string" minOccurs="0"/>
            <x:element name="PostDsc" type="x:string" minOccurs="0"/>
            <x:element name="MnthlyIncmAmt" type="x:double" minOccurs="0"/>
            <x:element name="FamilyAdr" type="x:string" minOccurs="0"/>
            <x:element name="PostCode" type="x:string" minOccurs="0"/>
            <x:element name="Mobile" type="x:string" minOccurs="0"/>
            <x:element name="FamilyTelNo" type="x:string" minOccurs="0"/>
            <x:element name="Email" type="x:string" minOccurs="0"/>
            <x:element name="WorkCorp" type="x:string" minOccurs="0"/>
            <x:element name="CertVldDt" type="x:string" minOccurs="0"/>
            <x:element name="ACCESSID" type="x:string" minOccurs="0"/>
            <x:element name="TelBankPassword" type="x:string" minOccurs="0"/>
            <x:element name="BranchNo" type="x:string" minOccurs="0"/>
            <x:element name="TelNo" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Rsp1003200000107" type="s:Rsp1003200000107Type"/>
  <x:complexType name="Rsp1003200000107Type">
    <x:sequence>
      <x:element name="RspSysHead" type="d:RspSysHeadType"/>
      <x:element name="RspAppHead" type="s:RspAppHeadType"/>
      <x:element minOccurs="0" name="RspAppBody">
        <x:complexType>
          <x:sequence>
            <x:element name="TransStatus" type="x:string" minOccurs="0"/>
            <x:element name="RetCode" type="x:string" minOccurs="0"/>
            <x:element name="RetMsg" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Req1003200000108" type="s:Req1003200000108Type"/>
  <x:complexType name="Req1003200000108Type">
    <x:sequence>
      <x:element name="ReqSysHead" type="d:ReqSysHeadType"/>
      <x:element name="ReqAppHead" type="s:ReqAppHeadType"/>
      <x:element name="ReqAppBody" minOccurs="0">
        <x:complexType>
          <x:sequence>
            <x:element name="CertTp" type="x:string" minOccurs="0"/>
            <x:element name="CertNo" type="x:string" minOccurs="0"/>
            <x:element name="TelBankPassword" type="x:string" minOccurs="0"/>
            <x:element name="BranchNo" type="x:string" minOccurs="0"/>
            <x:element name="TelNo" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Rsp1003200000108" type="s:Rsp1003200000108Type"/>
  <x:complexType name="Rsp1003200000108Type">
    <x:sequence>
      <x:element name="RspSysHead" type="d:RspSysHeadType"/>
      <x:element name="RspAppHead" type="s:RspAppHeadType"/>
      <x:element minOccurs="0" name="RspAppBody">
        <x:complexType>
          <x:sequence>
            <x:element name="TransStatus" type="x:string" minOccurs="0"/>
            <x:element name="RetCode" type="x:string" minOccurs="0"/>
            <x:element name="RetMsg" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Req1003200000113" type="s:Req1003200000113Type"/>
  <x:complexType name="Req1003200000113Type">
    <x:sequence>
      <x:element name="ReqSysHead" type="d:ReqSysHeadType"/>
      <x:element name="ReqAppHead" type="s:ReqAppHeadType"/>
      <x:element name="ReqLocalHead" type="EBANK:ReqLocalHeadType"/>
      <x:element name="ReqAppBody" minOccurs="0">
        <x:complexType>
          <x:sequence>
            <x:element name="clientNo" type="x:string" minOccurs="0"/>
            <x:element name="accountNo" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
  <x:element name="Rsp1003200000113" type="s:Rsp1003200000113Type"/>
  <x:complexType name="Rsp1003200000113Type">
    <x:sequence>
      <x:element name="RspSysHead" type="d:RspSysHeadType"/>
      <x:element name="RspAppHead" type="s:RspAppHeadType"/>
      <x:element name="RspLocalHead" type="EBANK:RspLocalHeadType"/>
      <x:element minOccurs="0" name="RspAppBody">
        <x:complexType>
          <x:sequence>
            <x:element name="tellerCode" type="x:string" minOccurs="0"/>
            <x:element name="clientNo" type="x:string" minOccurs="0"/>
            <x:element name="accountNo" type="x:string" minOccurs="0"/>
          </x:sequence>
        </x:complexType>
      </x:element>
    </x:sequence>
  </x:complexType>
</x:schema>