configs/ws/client/30052000001/GAT.xsd

<?xml version="1.0" encoding="UTF-8"?>

<x:schema xmlns:x="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://esb.dcitsbiz.com/GAT" targetNamespace="http://esb.dcitsbiz.com/GAT" elementFormDefault="qualified" attributeFormDefault="qualified">
  <x:complexType name="ReqLocalHeadType">
    <x:sequence>
      <x:element name="AUTH_ID" type="x:string" minOccurs="0"/>
    </x:sequence>
  </x:complexType>
  <x:complexType name="RspLocalHeadType">
    <x:sequence/>
  </x:complexType>
</x:schema>